.App {
  text-align: center;
  margin: 0;
}

* {
  font-family: 'Noto Sans';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.green-gradient {
  background: linear-gradient(180deg, #085E7D 20%, #4E9F3D 98%);
}

.dark-green-gradient {
  background: linear-gradient(180deg, #085E7D 0%, #008E89 100%);
}

.sub-green-gradient {
  background: linear-gradient(180deg, #008E89 0%, #4E9F3D 100%);
}

.green {
  background: #4E9F3D;
}

.green-text {
  color: #4E9F3D;
}

.dark-green-text {
  color: #085E7D;
}

.yellow {
  background: #FFD32D;
}

.yellow-text {
  color: #FFD32D;
}

.white-text {
  color: #fff;
}

.transparent {
  background: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
