.App {
  text-align: center;
  margin: 0;
}

* {
  font-family: 'Noto Sans';
}

.spaced {
  margin: 20px;
}

.padded {
  padding: 20px 0 5px 0;
}

.wrap {
  flex-wrap: wrap;
}

.right-border {
  border-right: 1px solid;
}

.middle-right {
  margin: auto 20px auto auto !important;
}

.left {
  text-align: left;
}

/* Colors */
.green-gradient {
  background: linear-gradient(180deg, #085E7D 20%, #4E9F3D 98%);
}

.dark-green-gradient {
  background: linear-gradient(180deg, #085E7D 0%, #008E89 100%);
}

.sub-green-gradient {
  background: linear-gradient(180deg, #008E89 0%, #4E9F3D 100%);
}

.green {
  background: #4E9F3D;
}

.green-text {
  color: #4E9F3D;
}

.dark-green-text {
  color: #085E7D;
}

.yellow {
  background: #FFD32D;
}

.light-gray {
  background: #f5f5f5;
}

.yellow-text {
  color: #FFD32D;
}

.white-text {
  color: #fff;
}

.transparent {
  background: transparent;
}

.center {
  align-items: center;
}

.no-grow {
  flex-grow: 0;
}

@media screen and (max-width: 800px) {
  .mobile-full {
    width: 100% !important;
  }
  .right-border {
    border-right: none;
  }
}